* {
   border: 0px;
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   /*................ i have to remove this after completition of the project................*/
}

/*..................Navbar........................*/
.nav-container {
   background-color: #0f1111;
   height: 3.75rem;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.nav-logo-section {
   display: flex;
   align-items: center;
   height: 9rem;
   width: 7rem;

}

.nav-logo {
   background-image: url("imeg/amazon_logo.png");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   height: 3.5rem;
   width: 100%;
}

.border {
   border: 0.125rem solid transparent;

   &:hover {
      border: 0.125rem solid rgb(255, 255, 255);
      border-radius: 0.2rem;
   }
}

/* .......................Address........................ */


.address-section {
   padding: 0.2rem;
}

.address1 {
   color: #ccc;
   font-size: 0.8rem;
   margin-left: 1.5rem;
   padding-top: 0.2rem;
}


.address2 {
   /* font-weight: 700; */
   display: flex;
   align-items: center;
   padding-left: 0.4rem;
   padding-right: 0.3rem;
   padding-top: 0.1rem;
   padding-bottom: 0.2rem;
}

.address2 i {
   position: relative;
   right: 0.2rem;
}

.address2 p {
   color: white;
   font-weight: 700;
}

/*.....................Search..........................*/

.Select-division {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   height: 2.7rem;
   width: 50%;
   border-radius: 0.25rem;
   border: 0.1rem solid transparent;

   &:hover {

      border: orange solid 0.1rem;
      /* border-radius: 0.26rem; */
   }
}

.search-type {
   height: 2.5rem;
   width: 2.8125rem;
   border-top-left-radius: 0.25rem;
   border-bottom-left-radius: 0.25rem;
   background-color: #d8d5d5;
   color: #0f1111;
   font-size: 0.9rem;
   text-align: center;
   border: none;
   outline: none;
   border: 0.1rem solid transparent;

   &:hover {
      opacity: 0.9;
   }
}

.search-type option {
   color: black;
   background-color: white;
   text-align: left;
   font-size: 0.8rem;
}


.search-input {
   height: 2.5rem;
   width: 100%;
   font-size: 1.25rem;
   padding-left: 0.5rem;
   border: none;
   outline: none;
   color: black;
}

.search-icon {
   background-color: orange;
   height: 2.5rem;
   width: 2.8125rem;
   border-top-right-radius: 0.25rem;
   border-bottom-right-radius: 0.25rem;
   display: flex;
   align-items: center;
   justify-content: center;


}

.search-icon i {
   color: white;
   font-size: 1.3rem;
}


/*.....................Language and flag......................*/

.lang-division {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.2rem;
   gap: 0.1rem;
}


.india-logo {
   background-image: url("imeg/ind-flag.png");
   background-size: cover;
   background-position: center;
   height: 35px;
   width: 30px;
}



.lang-option {
   background-color: transparent;
   color: white;
   width: 38px;
   border: none;
   outline: none;
   height: 35px;
}

.lang-option option {
   color: black;
}


/*.....................Sign in and Return......................*/

.signin-division {
   /* display: flex;
      align-items: center;
      justify-content: center; */
   padding: 0.2rem;

}

.text1 {
   color: rgb(237, 232, 232);
   /* text-align: center; */
   font-size: 0.8rem;
   padding-left: 0.5rem;
   margin-left: 0.2rem;
}

.text2 {
   /* text-align: center; */
   font-size: 1rem;
   font-weight: 600;
   color: white;
   background-color: transparent;
   border: none;
   outline: none;

}


/* .............Return.................*/


.return-division {
   padding: 0.3rem;
}

.txt1 span {
   color: rgb(237, 232, 232);
   /* text-align: center; */
   font-size: 0.8rem;
}

.txt2 span {
   color: white;
   font-weight: 600;
}


/*.....................Cart......................*/

.cart-division {
   padding: 0.4rem;
}

.cart i {
   font-size: 1.825rem;

}

.cart span {
   color: white;

}

/* ............Subnav.............. */
.subnavbar-container {
   background-color: #232f3e;
   height: 2.5rem;
   display: flex;
   align-items: center;
   justify-items: center;
}

.all-container {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.425rem;
   margin-left: 0.625rem;
   padding-right: 0.625rem;
   font-size: 0.875rem;
   font-weight: 700;

}

.all-container i {
   font-size: 1.25rem;
   padding-right: 0.27rem;
}

.panel-options {
   display: flex;
   /* justify-content: space-between; */
   align-items: center;
   width: 100%;
}



.Fresh-select {
   background-color: transparent;
   font-size: 1.1rem;
   font-size: 0.85rem;
}

ul {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   width: 100%;
   list-style-type: none;

}

ul a {
   text-decoration: none;

}

.unorder li {
   font-size: 0.85rem;
   font-weight: 500;
   padding: 0.625rem;
   border: 0.125rem solid transparent;

   &:hover {
      border: 0.125rem solid rgb(255, 255, 255);
      border-radius: 0.2rem;
   }
}



/* ..........hero section............. */
.hero-section-container {
   background-image: url("imeg/hero_image.jpg");
   background-size: cover;
   height: 31.25rem;
   display: flex;
   justify-content: center;
   align-items: flex-end;


}


.hero-text {
   background-color: white;
   color: black;
   height: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 96%;
   font-size: 0.85rem;
   position: relative;
   bottom: 100px;
}

.hero-text a {
   text-decoration: none;
   color: #008CBA;

}



.complete-container {
   /* background: linear-gradient(to right,#324065, #bcd1d2); */
   /* padding: 5px 2px; */
   background-color: #e3e6e6;
   width: 100%;


   background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, #e3e6e6 20%),
      linear-gradient(to right, #324065 47.75%, #9fb4b7 45%);

   background-blend-mode: normal;
   background-color: #e3e6e6;


}

.different-options {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0px;
   padding: 0px;
}

.four-items-containers {
   display: flex;
   align-items: center;
   margin: 0px;
   height: 22rem;
   padding: 0;
}


.item-box-container {
   height: 21rem;
   width: 21.59rem;
   margin: 7px;
   background-color: white;
}


/* img insertng  */

.intern1 h2 {
   color: black;
   margin: 10px 0px 15px 15px;
}

.intern1 a {
   color: #008CBA;
   font-size: 0.825rem;
   text-decoration: none;
   margin: 0px 0px 15px 15px;

}


.item-img {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   height: 15.7rem;
   width: 17rem;
   margin: 0px 20px 5px 20px;
}

.img1 {
   background-image: url(imeg/presss.jpg);
}

.img2 {
   background-image: url(imeg/corona.jpg);
}

.img3 {
   background-image: url(imeg/box4_image.jpg);
}

.img4 {
   background-image: url(imeg/Boult\ -\ Copy.webp);
}

.img5 {
   background-image: url(imeg/wifi.webp);
}

.img6 {
   background-image: url(imeg/watch\ -\ Copy.jpg);
}

.img7 {
   background-image: url(imeg/unicorn.jpg);
}

.img8 {
   background-image: url(imeg/loq.webp);
}

.img9 {
   background-image: url(imeg/hpk300.webp);
}

.img10 {
   background-image: url(imeg/poco.webp);
}

.img11 {
   background-image: url(imeg/evm.webp);
}

.img12 {
   background-image: url(imeg/edith.webp);
}

.img13 {
   background-image: url(imeg/box5_image.jpg);
}

.img14 {
   background-image: url(imeg/box3_image.jpg);
}

.img15 {
   background-image: url(imeg/keyboardss.jpg);
}

.img16 {
   background-image: url(imeg/box2_image.jpg);
}

.img17 {
   background-image: url(imeg/wildstone.webp);
}

.img18 {
   background-image: url(imeg/wallets.jpg);
}

.img19 {
   background-image: url(imeg/jeans.jpg);
}

.img20 {
   background-image: url(imeg/footwear.jpg);
}



/* .............signin option ........... */

.signin-option-container {
   width: 100%;
   height: 250px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 30px;
   padding-top: 45px;
}

.signin-option {
   border-top: 2.5px solid #ededed;
   border-bottom: 2.5px solid #ededed;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

}

/* .signin-button button{
background-color: #ffd266;
color: black;
border: 2px solid #ddbc6e;
padding: 10px 120px;
cursor: pointer;
border-radius: 5px;
   font-size: 1rem;
   font-weight: 600;

} */

.signin-button button {
   /*  improved button */
   /* position: relative; */
   background: linear-gradient(to bottom, #ffd266 0%, #f7c84a 100%);
   color: #111;
   border: 1px solid #c2a74e;
   padding: 10px 40px;
   width: 270px;
   cursor: pointer;
   border-radius: 5px;
   font-size: 1rem;
   font-weight: 600;
   box-shadow: inset 0 1.5px 0 rgba(255, 255, 255, 0.8),
      0 3px 6px rgba(0, 0, 0, 0.2);

   &:hover {
      background: linear-gradient(to bottom, #ffe066, #f8d04a);
      box-shadow: inset 0 1.5px 0 rgba(255,255,255,1)
      0 3px 6px rgba(0, 0, 0, 0.3);
   }
}

/* .signin-button button:hover {
    background: linear-gradient(to bottom, #ffe066, #f8d04a);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
} */
.sign-in-anchor {
   text-decoration: none;
   color: black;
   font-weight: 600;
}


.new-customer p {
   color: black;
}

.new-customer a {
   color: #008CBA;
}

.signin-text p {
   color: black;
   padding: 5px;
}

.new-customer {
   padding: 5px;
   font-size: 12px;

}

/* ..........back to top button................ */

.back-to-top-container {
   width: 100%;
   height: 50px;
   background-color: #34475f;
   display: flex;
   align-items: center;
   justify-content: center;
}

.back-to-top {
   width: 100%;
}

.back-to-top a {
   font-size: 13px;
   font-weight: 600;
   text-decoration: none;
   width: 100%;
   cursor: pointer;
}

.back-centr {
   display: flex;
   align-items: center;
   justify-content: center;
}

/* ...............for smooth scroll back to top............... */
html {
   scroll-behavior: smooth;
}


/*   .......Main Footer Section ,,................. */

/* .footer-container{
   background-color: #202d3d;
   color: white;
   padding: 20px 0;
   display: flex;
   flex-direction: row;
   align-items: center;
} */
/* .footer-container h2 {
   font-size: 1.5rem;
   margin-bottom: 10px;
} */

/* .footer-section{
   width: 40%;
   display: flex;
   flex-direction: column;
   font-size: 25px;
   /* flex-wrap: wrap;
   justify-content: space-between; */
/* margin-bottom: 20px; */
/* } */

/* second try....................................................................... */

/* 
.foot-panel{
   display: grid;
   grid-template-columns: repeat(3 , 2fr);
   background-color: #202d3d;
   color: white;
   gap: 10px;
   padding: 20px 30px 0 150px;
   & a {
      text-decoration: none;
      color: white;
      font-size: 0.85rem;
   }
  & a:hover {
      color: white;
      text-decoration: underline;
   }
}
*/



/* third trying footer......................... */
.main-foot {
   background-color: #232f3e;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 0 120px 70px 120px;
}

.foot-box {
   & a {
      color: #cccccc;
      display: block;
      text-decoration: none;
      font-size: 0.92rem;
      padding: 0.13rem 0;

      &:hover {
         color: #cccccc;
         text-decoration: underline;
      }

   }
}

.highlight {
   color: #dddddd;
   font-size: 1.1rem;
   font-weight: 700;
   cursor: default;
   margin: 50px 0 8px 0;
}

/* 
.foot-panel-container {
   border-top: 0.0085px solid #3a4553;
   background-color: #232f3e;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.foot-logo-box {
   width: 250px;
   height: 50px;
   background-image: url("imeg/amazon_logo.png");
   background-size: contain;
   background-repeat: no-repeat;
   cursor: pointer;
   margin: 0;
}

.foot-lang-container {
   border: #cccccc solid 0.0085px;
   border-radius: 5px;
   display: inline;

   /* padding: 0.1px 2px 0.1px 2px; */
   /* & button {
      background-color: transparent;
      color: white;
      font-size: 0.85rem;
      cursor: pointer;
      /* padding: 0.2rem 0.5rem; */
   /* }
}

.foot-lang {
   background-color: transparent;
   color: #dddddd; */
   /* padding: 7px 35px; */
   /* margin: 8px 30px
}

.foot-currency {
   border: 0.01px solid #ffffff;
   border-radius: 5px;
   background-color: transparent;
   margin: 0 10px 0 10px;
   padding: 1px 25px; */
/* } */ 

/* .squaring-currency {
   background-color: transparent;
   color: #dddddd;
   padding: 7px 17px;
   border: none;
   font-size: 0.85rem;
   cursor: pointer;

   & a {
      text-decoration: none;
      color: #dddddd;
   }
}

.foot-city {
   border: 0.085px solid #ffffff;
   border-radius: 5px; */
   /* padding:3px 10px 2px 10px; */
   /* margin: 0 0px 0 5px;
}

.button-city {
   background-color: transparent;
   color: #dddddd;
   padding: 3px 35px; */
   /* margin: 5px 30px 4px 30px; */
   /* border: none;
   font-size: 0.85rem;
   cursor: pointer;

   & a {
      text-decoration: none;
      color: #dddddd;
   }
}

.ind-flag-text {
   color: #dddddd;
   font-size: 0.9rem;
   margin: 5px;
   padding: -5px;
}

.indian-flag-squared {
   height: 23px; */
   /* margin: 0 5px 0px 5px; */
/* } */ 

/* foot panel containers with logo  */

.foot-panel-container {
    border-top: 1px solid #3a4553; /* Standardized border thickness */
    background-color: #232f3e;
    height: 70px; /* Fixed height to maintain consistency */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px; /* Reduced padding to avoid overcrowding */
}

.foot-logo-box {
    width: 250px;
    height: 50px;
    background-image: url("imeg/amazon_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 0 40px; /* Increased margin for more space around logo */
}

.foot-lang-container,
.foot-currency,
.foot-city {
    display: flex;
    align-items: center; /* Center items vertically */
    border: 0.5px solid #bcb9b9; /* Uniform border */
    border-radius: 3.3px;
    margin: 0 5px; /* Increased and equalized margin for consistent spacing */
    padding: 3px 20px; /* Consistent internal padding */
    height: 40px; /* Fixed height to align with other containers */
}

.squaring-currency a, .button-city a{
   text-decoration: none;

}

.foot-lang {
    background-color: transparent;
    color: #dddddd;
    margin: 0;
    padding: 0 5px;
    font-size: 0.85rem;
    outline: none;
}

.button-city,
.squaring-currency {
    background-color: transparent;
    color: #dddddd;
    padding: 0 10px; /* Adjusted padding for better fit */
    border: none;
    font-size: 0.85rem;
    cursor: pointer;
    outline: none;
}

.indian-flag-squared {
    height: 20px; /* Reduced height for better proportion */
    margin-right: 5px; /* Space between flag and text */
    vertical-align: middle; /* Align flag with text */
}

.ind-flag-text {
    color: #dddddd;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    vertical-align: middle; /* Align text with flag */
}


/* ...... ......dark coloured collection last section........................ */

.foot-last-section {
   background-color: #131a22;
   height: 470px;
}

.service-containers {
   display: flex;
   flex-direction: column;
   width: 100px;

   &:hover {
      text-decoration: underline;
      text-decoration-color: #999999;
   }
}

.service-containers a:nth-of-type(2) {
   color: #999999;
   font-size: 12px;
   text-decoration: none;
}

.service-containers a:first-of-type {
   /* color: #cadddd; */
   color: #d8d8d8;
   font-size: 13px;
   text-decoration: none;
}

.more-service {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 35px 270px;
   gap: 10px 35px;
}

/* copyrights section  */
.copyrights-container {
   display: inline;
   display: flex;
   flex-direction: column;
   gap: 5px;
   justify-content: center;
   align-items: center;
   margin: 15px;
}

.rights-container1 a {
   color: #d8d8d8;
   font-size: 12px;
   margin: 3px;
   text-decoration: none;

   &:hover {
      text-decoration: underline;
   }
}

.rights-container2 p {
   color: #d8d8d8;
   font-size: 12px;
}

/* img */
.tick-cross-img {
   height: 11px;
}